@import url('https://fonts.cdnfonts.com/css/new-romantics');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'New romantics', sans-serif;
}

body{
    background: white;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    background: #e5c3d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 100px;
}

.header .logo {
    color: #9C528B;
    font-family: 'New Romantics', sans-serif;
    font-size: 32px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
}

.hamburger{
    display: none;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    color: white;
    font-family: 'New Romantics', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    letter-spacing: 2px;
}

.navbar ul li a:hover{
    color: #b9929f;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #FFF;
    cursor: pointer;
    display: none;
}

.main{
    display: grid;
    justify-items: center;
    width: 100%;
    height: 250px;
}

.main-text{
    color: #9C528B;
    font-family: 'New Romantics', sans-serif;
    margin-top: 50px;
    font-size: 32px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
}

.buttons{
    margin-top: 40px;
    margin-bottom: 40px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 7px;
    font-family: 'New romantics';
    font-weight: 800;
    letter-spacing: 3px;
    background-color:#e5c3d1;
    color: #9C528B;
    border-radius: 12px;
    border: 2px solid #e5c3d1;
}

@media only screen and (max-width: 1320px){
    .header{
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 1100){
    .header{
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 900px){
    
    .header{
        padding: 1.3rem 10%;
    }

    .main{
        text-align: center;
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #e5c3d1;
        transition: 0.5s;
        overflow: hidden;
        z-index: 100;
    }

    .navbar.active{
        height: 200px;
    }

    .navbar.close{
        display: none;
        transition: 0.5s;
    }

    .navbar ul{
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul li{
        margin-bottom: 12px;
    }
}

/* gallery */
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: #9C528B;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;
}

.container input{
    display: none;
}

.cards{
    position: relative;
    height: 500px;
    width: 300px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label{
    position: absolute;
    height: 500px;
    width: 250px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{
    position: relative;
    height: 100%;
    background-color: #e5c3d1;
    border-radius: 10px;
    padding: 30px 35px;
}

.cards .image{
    display: flex;
    justify-content: space-between;
}

.cards .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .7s;
}

.cards .image img:hover{
    transform: scale(1.05);
}

.card .infos{
    display: block;
    text-align: start;
    padding-top: 60px;
}

.card .infos .name{
    color: #9C528B;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-right: 25%;
    transition: all .6s ease;
}

.card .infos span{
    display: block;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3{

    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;

}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4{

    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;

}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5{

    box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #eceaed;

}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1{

    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;

}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2{

    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;

}